{% extends 'base.html' %}
<br />
{% block content %}
<!-- <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eros
  enim, mollis non gravida nec, suscipit at enim. Etiam iaculis varius massa.
  Nam faucibus, urna non volutpat eleifend, urna justo dapibus enim, et
  dignissim lorem diam sit amet risus. Nullam semper arcu turpis.
</p> -->
<section class="about-section div-container">
  <!-- <h3 class="text">About page</h3> -->
  <div class="about-conatiner">
    <div class="person">
      <div class="about-descprition">
        <h1 class="author-blog">Charite Izaaki</h1>
        <p>Your technical people's person. Show me your passion for tech and I may spoil you beyond measure. On a
          lifelong learning journey.</p>
      </div>
      <div class="icons">
        <a class="icon-about-link" href="#">
          <ion-icon name="logo-twitter"></ion-icon>
        </a>
        <a class="icon-about-link" href="#">
          <ion-icon name="logo-github"></ion-icon>
        </a>
        <a class="icon-about-link" href="#">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a>
      </div>


    </div>

  </div>

</section>
</div>


{% endblock %}k
